<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MusicUDE_SericeSoap" closeTimeout="00:1:00" openTimeout="00:1:00"
                     receiveTimeout="00:25:00" sendTimeout="00:1:00">
						<security mode="Transport" />
                </binding>
                <binding name="MusicUDE_SericeSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44314/MusicUDE-Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="MusicUDE_SericeSoap"
                contract="ServicioSoap.MusicUDE_SericeSoap" name="MusicUDE_SericeSoap" />
        </client>
    </system.serviceModel>
</configuration>